mat-card-title {
  display: flex;
  justify-content: center;
}
.btn-center{
    display:flex;
    justify-content:center;
}
:host {
  display: flex;
  justify-content: center;
  margin: 200px 0px;
}
mat-card
{
  width:500px;
}
table {
  width: 100%;
}
