<mat-card>
    <mat-card-title>
        List Of Categories
    </mat-card-title>
    <mat-card-content>
        <table mat-table [dataSource]="items">
            <!-- Category Column -->
            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef> Category </th>
              <td mat-cell *matCellDef="let element"> &nbsp;{{element.category}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Actions (Edit/Delete) </th>   
                <td mat-cell *matCellDef="let element"> 
                  <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary" (click)="updateCategory(element)">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                  </button> 
                    <button mat-icon-button color="warn" matTooltip="Click to Delete" (click)="deleteCategory(element)">
                    <mat-icon>delete</mat-icon>
                  </button> 
                </td>
              </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button style="color:chartreuse" (click)="addCategory()">
        Add Category
      </button>
    </mat-card-actions>
</mat-card>
