mat-card
{
  width:300px;
  height:300px;
}
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}
:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }
  .btn-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-align
  {
    margin-left: 10px;;
  }
