<h1 mat-dialog-title *ngIf="addDialog">
    {{title |titlecase}}
  </h1>
  <h1 mat-dialog-title *ngIf="!addDialog">
    Edit Category
  </h1>
  
  <div mat-dialog-content>
   <form [formGroup]="categoryForm">
    <mat-form-field>
        <input placeholder="Product Category" matInput type="text" formControlName="category">
        <mat-error *ngIf="categoryForm.invalid && categoryForm.touched">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
   </form>
  </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onDismiss()">
        No Thanks
    </button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitia [disabled]="categoryForm.invalid">OK</button>
  </div>
