<div class="main-div">
    <mat-card class="mat-card-style" [class.mat-elevation-z8]="true">
            <mat-card-title>
                Login
            </mat-card-title>
        <mat-card-content>
            <form [formGroup]="loginform">
                <p>
                    <mat-form-field>
                      <input  formControlName="email" type="text" matInput placeholder="Email">
                    </mat-form-field>
                    <!-- <span class="text-danger"
                    *ngIf="(loginFormControl.email.touched )">
                    Email is required
                </span> -->
                </p>
                <p>
                    <mat-form-field>
                      <input formControlName="password" type="password" matInput placeholder="Password" >
                    </mat-form-field>
                    <!-- <span *ngIf="!loginform.get('password').valid && loginform.get('password').touched">Please enter First Name  
                    </span> --->
                    
                </p>
                <div class="btn-center">
                    <button type="submit" mat-raised-button color="primary" (click)="login()">Login</button>
                </div>
                <br>
                <div class="register">
                    <a href="/register" style="text-decoration:none;">
                        Need Account ?
                        <span>
                            Register
                        </span>
                    </a>
                </div>
                <div >
                    <a (click)="signInWithGoogle()" style="text-decoration: none;cursor:pointer;">
                        <mat-card [class.mat-elevation-z8]="true">
                            <mat-card-content style="color:orange">
                            <mat-icon style="color:black">email</mat-icon>
                                Sign In With Google
                            </mat-card-content>
                        </mat-card>
                    </a>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    </div>