<div class="main-div">
    <mat-card class="mat-card-style" [class.mat-elevation-z8]="true">
            <mat-card-title>
                Login
            </mat-card-title>
        <mat-card-content>
            <form [formGroup]="loginform">
                <p>
                    <mat-form-field>
                      <input  formControlName="email" type="text" matInput placeholder="Email" required>
                      <mat-error *ngIf="loginform.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input formControlName="password" type="password" matInput placeholder="Password" >
                        <mat-error *ngIf="loginform.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                    
                </p>
                <div class="btn-center">
                    <button type="submit" mat-raised-button color="primary" (click)="login()" [disabled]="loginform.invalid && loginform.touched">Login</button>
                </div>
                <br>
                <div class="register">
                    <a routerLink="/register" routerLinkActive="active" style="text-decoration:none;">
                        Need Account ?
                        <span>
                            Register
                        </span>
                    </a>
                </div>
                <br>
                <div >
                    <a (click)="signInWithGoogle()" style="text-decoration: none;cursor:pointer;">
                        <mat-card [class.mat-elevation-z8]="true">
                            <mat-card-content style="color:orange">
                            <mat-icon style="color:black">email</mat-icon>
                                Sign In With Google
                            </mat-card-content>
                        </mat-card>
                    </a>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    </div>