
.btn-center {
    display: flex;
    justify-content: center;
  }
  table {
    width: 100%;
  }
  tr.mat-footer-row {
    font-weight: bold;
  }
  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  .example-radio-button {
    margin: 5px;
  }