<h1 mat-dialog-title style="text-align:center;">
    Order Details
</h1>
<div mat-dialog-content>
        <table mat-table [dataSource]="items">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name | titlecase}} </td>
              <td mat-footer-cell *matFooterCellDef> Amount Payable </td>
            </ng-container>

            <!-- Price Column -->
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef> Price </th>
              <td mat-cell *matCellDef="let element"> {{element.price|currency}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>
          
            <!-- Category Column -->
            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef> Category </th>
              <td mat-cell *matCellDef="let element"> {{element.category | titlecase}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <!-- Quantity Column -->
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef> Quantity </th>
              <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
              <td mat-footer-cell *matFooterCellDef>{{getTotalCost()|currency}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
          </table>
          <div>
            <h4 style="font-size:medium;text-align:left;color: darkgray;">
                Select Payment Method
            </h4>
            <mat-radio-group class="example-radio-group">
                <mat-radio-button (change)="stripeCheckout($event)" class="example-radio-button" *ngFor="let method of paymentMethods" [value]="method">
                    {{method}}
                </mat-radio-button>
            </mat-radio-group>
          </div>
</div>
<div mat-dialog-actions class="btn-center">
            <button mat-button color="primary" (click)="orderPlaced()">
                Place Your Order
            </button>
 </div>
