
<p>
    <mat-toolbar>
     <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="homeRedirect()">
      <mat-icon>home</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    &nbsp;
    <span *ngIf="(hasRoute('home') || hasRoute('user-dashboard'))&& !currentUser">
      <button mat-raised-button color="primary" routerLink="/login">
        Login
      </button>
    </span> 
      &nbsp;
    <span *ngIf="hasError==false &&currentUser && !hasRoute('order-history') && !isInactive ">
      <button mat-raised-button color="accent" routerLink="/order-history">
        Order History
      </button>
    </span>
    &nbsp;
    <span *ngIf="currentUser && hasError==false && !(hasRoute('login') || hasRoute('product-detail') || hasRoute('order-history') || hasRoute('product-list') || hasRoute('home'))   && !isInactive">
      <form [formGroup]="searchForm">
        <mat-form-field>
          <input formControlName="searchproduct" [matAutocomplete]="auto" type="search" matInput placeholder="search product...">
          <mat-autocomplete #auto="matAutocomplete" >
            <mat-option *ngFor="let option of options" [value]="option" (onSelectionChange)="updateSelection($event)">
              {{option | titlecase}}
            </mat-option>
          </mat-autocomplete>
          <button type="submit" matPrefix mat-icon-button><mat-icon>search</mat-icon></button>
        </mat-form-field>
      </form>
    </span>
    &nbsp;
    &nbsp;
    <span *ngIf="currentUser && hasRoute('user-dashboard')  && !isInactive && currentUser!=adminKey">
      <mat-select matNativeControl style="height: 20px; width:120px;" id="sort-by"  placeholder="Price"(selectionChange)="sort($event)">
        <mat-option value="Low"> Price Low to High</mat-option>
        <mat-option value="High">Price High to Low</mat-option>
       </mat-select>
       &nbsp;
       <mat-select style="height: 20px; width:120px;" id="sort-by" (selectionChange)="sort($event)" placeholder="Category">
        <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
       </mat-select>
    </span>
    <span *ngIf="currentUser && currentUser==adminKey && hasError==false">
      <button mat-button routerLink="/users-list">
        Users List
      </button>
    </span>
    <span *ngIf="!hasRoute('login')">
      <button routerLink="/shopping-cart" mat-icon-button style="color:black">
          <mat-icon matBadge="{{itemInCart}}" matBadgeColor="warn">shopping_cart</mat-icon>
      </button>
  </span> 
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" [matMenuTriggerFor]="share">
     <mat-icon>share</mat-icon>
   </button>
   <mat-menu #share="matMenu" yPosition="below">
    <button mat-menu-item>
      <mat-icon>email</mat-icon>
      <span>Via Email</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
      <mat-icon> chat</mat-icon>
      <span>Via WhatsApp</span>
    </button>
   </mat-menu>
   <span *ngIf="currentUser && hasError==false" >
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with share icon">
        <img width="40" height="40" style="border-radius: 100%;" [src]="downloadURL" alt="assets/image-placeholder" onError="this.src='assets/image-placeholder.jpg'">
    </button>
   </span>
  <mat-menu #menu="matMenu" yPosition="below">
    <div  style="width: 200px; height:140px;border-radius:6px;">
        <p style="text-align:center;font-size:medium;color:darkslategray;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Signed In as</p>
        <mat-divider></mat-divider>
        <p style="font-size:medium;font-weight:bold;text-align:center">{{currentUser}}</p>
        <mat-divider></mat-divider>
        <p style="font-size:medium;text-align:center">
           <span> &nbsp;&nbsp; &nbsp;&nbsp;Edit Your Profile</span> 
            <button mat-icon-button routerLink="/user-profile" [disabled]="!currentUser">
                <mat-icon>edit</mat-icon>
            </button>
        </p>
        <mat-divider></mat-divider>
        <p style="font-size:medium;text-align:center">
          <span> &nbsp;&nbsp; &nbsp;&nbsp;Manage Addresses</span>
          <button mat-icon-button routerLink="/manage-address" [disabled]="!currentUser">
            <mat-icon>edit</mat-icon>
        </button>
        </p>
        <mat-divider></mat-divider>
        <p style="text-align:center;font-size:medium">
          <a routerLink="/change-password" style="text-decoration:none;color:blue">Change Password</a>
        </p>
        <mat-divider></mat-divider>
        <p style="text-align:center;;font-size:medium">
          <span *ngIf="currentUser && !(hasRoute('login') || hasRoute('register') || hasRoute('home'))">
            <a  style="text-decoration:none;color:black;"color="accent" (click)="signOut()">Logout </a>
            </span>
        </p>
          <mat-divider></mat-divider>
        <p style="font-size:medium;text-align:center;color:darkslategray">
            Privacy Policy
        </p>
    </div>
  </mat-menu>
  </mat-toolbar>
  </p>