<mat-card>
    <mat-card-title>
        Order History
    </mat-card-title>
    <mat-card-content>
        <table mat-table
       [dataSource]="mylist" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> &nbsp;{{column | titlecase}} &nbsp; &nbsp;</th>
    <td mat-cell *matCellDef="let element"> &nbsp;{{element[column]}} &nbsp; &nbsp;</td>
  </ng-container>
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-diagram">
            <table mat-table [dataSource]="element.products">

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name &nbsp; &nbsp; </th>
                <td mat-cell *matCellDef="let item"> {{item.name | titlecase}} &nbsp;</td>
              </ng-container>

               <!-- Price Column -->
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef> Price </th>
              <td mat-cell *matCellDef="let item"> {{item.price|currency}}</td>
            </ng-container>
          
            <!-- Category Column -->
            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef> Category </th>
              <td mat-cell *matCellDef="let item"> {{item.category | titlecase}} &nbsp; &nbsp;</td>
            </ng-container>
            <!-- Quantity Column -->
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef> Quantity &nbsp; &nbsp;</th>
              <td mat-cell *matCellDef="let item">&nbsp; &nbsp;{{item.quantity}} &nbsp;</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
    </mat-card-content>
    <mat-card-actions>
        <div class="btn-center">
            <button mat-button (click)="onClose()">
                Close
            </button>
        </div>
    </mat-card-actions>
</mat-card>
